  <style>
    .fl-node-5d25e07d656b2 > .fl-row-content-wrap {
        margin-right: 34px;
        margin-bottom: 20px;
        margin-left: 34px;
    }

    .fl-row-content-wrap {
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
    }

    .fl-row-content-wrap {
        position: relative;
    }

    body {
    background-color: #f2f2f2;
    color: #7b746b;
    font-family: "Noto Sans TC",sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.45;
    font-style: normal;
    padding: 0;
    word-wrap: break-word;
    text-align: left;
    }
    :root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    }
    :root {
    --wp--preset--font-size--normal: 16px;
    --wp--preset--font-size--huge: 42px;
    }
    .fl-builder-content *, .fl-builder-content *:before, .fl-builder-content *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
    *, ::after, ::before {
    box-sizing: border-box;
    }
    

    .uabb-top-row-separator {
    top: 0;
    bottom: auto;
    }
    .uabb-row-separator {
        position: absolute;
        width: 100%;
        left: 0;
    }
    .uabb-top-row-separator {
        top: 0;
        bottom: auto;
    }
    .uabb-row-separator {
        position: absolute;
        width: 100%;
        left: 0;
    }
    .fl-row:before, .fl-row:after, .fl-row-content:before, .fl-row-content:after, .fl-col-group:before, .fl-col-group:after, .fl-col:before, .fl-col:after, .fl-module:before, .fl-module:after, .fl-module-content:before, .fl-module-content:after {
    display: table;
    content: " ";
    justify-content: center;

    }
    .fl-col-group{
        display: flex;
        justify-content: center; 

    }
    .fl-node-5cf79c277f854 {
    width: 100%;
    }
    .fl-col {
        float: left;
        min-height: 1px;
    }
    .fl-col-content {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    }
    .fl-row:after, .fl-row-content:after, .fl-col-group:after, .fl-col:after, .fl-module:after, .fl-module-content:after {
    clear: both;
    }
    .fl-module-content {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    }


    .wfp-icon img[class*="wp-image-"] {
        transition: all .2s ease-in-out;
        max-width: 180px;
    } 
    .fl-post img[class*="wp-image-"], .fl-post img.alignnone, .fl-post img.alignleft, .fl-post img.aligncenter, .fl-post img.alignright {
    height: auto;
    max-width: 100%;
    }
    .fl-photo-content img {
        display: inline;
        height: auto;
        max-width: 100%;
    }
    .fl-module img {
        max-width: 100%;
    }  
    img {
    vertical-align: middle;
    border-style: none;
    overflow-clip-margin: content-box;
    overflow: clip;
    }

    html :where(img[class*=wp-image-]) {
    height: auto;
    max-width: 100%;
    }




</style>
    <body>
    <section id = ayuda>
        <div class="fl-row-content-wrap text-center">
            <div class="uabb-row-separator uabb-top-row-separator">
    </div>
                            <div class="fl-row-content fl-row-fixed-width fl-node-content">
            
    <div class="fl-col-group fl-node-5cf79c277f842" data-node="5cf79c277f842">
                <div class="fl-col fl-node-5cf79c277f854" data-node="5cf79c277f854">
        <div class="fl-col-content fl-node-content"><div class="fl-module fl-module-pp-heading fl-node-5cf79c277f855" data-node="5cf79c277f855">
        <div class="fl-module-content fl-node-content">
            <div class="pp-heading-content">
            <div class="pp-heading  pp-center">
            
            <h1 class="heading-title text-inline-block">
    
                
                <span class="title-text pp-primary-title"><span class="wfp-bold"><span class="thisify">THIS</span></span> IS WHERE YOU COME IN</span>
    
                
                
            </h1>
    
            
        </div>
    
                <div class="pp-sub-heading">
                <p>Your support can help us make the world’s water crisis a problem of the past, for Everyone Forever.</p>		</div>
        
        </div>
        </div>
    </div>
    </div>
    </div>
        </div>
    
    <div class="fl-col-group fl-node-5cf79c277f83c" data-node="5cf79c277f83c">
                <div class="fl-col fl-node-5cf79c277f844 fl-col-has-cols" data-node="5cf79c277f844">
        <div class="fl-col-content fl-node-content">
    <div class="fl-col-group fl-node-5cf79c277f845 fl-col-group-nested fl-col-group-custom-width" data-node="5cf79c277f845">
                <div class="fl-col fl-node-5cf79c277f846 fl-col-small icon-list" data-node="5cf79c277f846">
        <div class="fl-col-content fl-node-content"><div class="fl-module fl-module-photo fl-node-5cf79c277f84a wfp-icon" data-node="5cf79c277f84a">
        <div class="fl-module-content fl-node-content">
            <div class="fl-photo fl-photo-align-center" itemscope="" itemtype="https://schema.org/ImageObject">
        <div class="fl-photo-content fl-photo-img-png">
                    <a href="https://give.waterforpeople.org/page/36148/donate/1 " target="_self" itemprop="url">
                        <img decoding="async" loading="lazy" class="fl-photo-img wp-image-120 size-full" src="{{site.baseurl}}/img/impacto/Give-icon.png" title="give-icon">
                    </a>
                        </div>
        </div>
        </div>
    </div>
    <div class="fl-module fl-module-heading fl-node-5cf79c277f84b" data-node="5cf79c277f84b">
        <div class="fl-module-content fl-node-content">
            <h2 class="fl-heading">
            <a href="https://give.waterforpeople.org/" title="GIVE" target="_self">
            <span class="fl-heading-text">Dona</span>
            </a>
        </h2>
        </div>
    </div>
    </div>
    </div>
                <div class="fl-col fl-node-5cf79c277f847 fl-col-small icon-list" data-node="5cf79c277f847">
        <div class="fl-col-content fl-node-content"><div class="fl-module fl-module-photo fl-node-5cf79c277f84d wfp-icon" data-node="5cf79c277f84d">
        <div class="fl-module-content fl-node-content">
            <div class="fl-photo fl-photo-align-center" itemscope="" itemtype="https://schema.org/ImageObject">
        <div class="fl-photo-content fl-photo-img-png">
                    <a href="https://fundraise.waterforpeople.org/" target="_blank" rel="noopener" itemprop="url">
                    <img decoding="async" loading="lazy" class="fl-photo-img wp-image-120 size-full" src="{{site.baseurl}}/img/impacto/fundraise-icon.png" title="fundraise-icon">
                    </a>
                        </div>
        </div>
        </div>
    </div>
    <div class="fl-module fl-module-heading fl-node-5cf79c277f84e" data-node="5cf79c277f84e">
        <div class="fl-module-content fl-node-content">
            <h2 class="fl-heading">
            <a href="https://fundraise.waterforpeople.org/" title="FUNDRAISE" target="_self">
            <span class="fl-heading-text">FUNDRAISE</span>
            </a>
        </h2>
        </div>
    </div>
    </div>
    </div>
                <div class="fl-col fl-node-5cf79c277f848 fl-col-small icon-list" data-node="5cf79c277f848">
        <div class="fl-col-content fl-node-content"><div class="fl-module fl-module-photo fl-node-5cf79c277f84f wfp-icon" data-node="5cf79c277f84f">
        <div class="fl-module-content fl-node-content">
            <div class="fl-photo fl-photo-align-center" itemscope="" itemtype="https://schema.org/ImageObject">
        <div class="fl-photo-content fl-photo-img-png">
                    <a href="https://www.waterforpeople.org/events-tours/" target="_self" itemprop="url">
                        <img decoding="async" loading="lazy" class="fl-photo-img wp-image-120 size-full" src="{{site.baseurl}}/img/impacto/partner-icon.png" title="events-icon">
                    </a>
                        </div>
        </div>
        </div>
    </div>
    <div class="fl-module fl-module-heading fl-node-5cf79c277f851" data-node="5cf79c277f851">
        <div class="fl-module-content fl-node-content">
            <h2 class="fl-heading">
            <a href="https://www.waterforpeople.org/events-tours/" title="EVENTS" target="_self">
            <span class="fl-heading-text">EVENTS</span>
            </a>
        </h2>
        </div>
    </div>
    </div>
    </div>
                <div class="fl-col fl-node-5cf79c277f849 fl-col-small icon-list" data-node="5cf79c277f849">
        <div class="fl-col-content fl-node-content"><div class="fl-module fl-module-photo fl-node-5cf79c277f852 wfp-icon" data-node="5cf79c277f852">
        <div class="fl-module-content fl-node-content">
            <div class="fl-photo fl-photo-align-center" itemscope="" itemtype="https://schema.org/ImageObject">
        <div class="fl-photo-content fl-photo-img-png">
                    <a href="https://www.waterforpeople.org/become-a-corporate-partner/" target="_self" itemprop="url">
                        <img decoding="async" loading="lazy" class="fl-photo-img wp-image-120 size-full" src="{{site.baseurl}}/img/impacto/volunteer-icon.png" title="volunteer-icon">                    </a>
                        </div>
        </div>
        </div>
    </div>
    <div class="fl-module fl-module-heading fl-node-5cf79c277f853" data-node="5cf79c277f853">
        <div class="fl-module-content fl-node-content">
            <h2 class="fl-heading">
            <a href="https://www.waterforpeople.org/become-a-corporate-partner/" title="PARTNER" target="_self">
            <span class="fl-heading-text">PARTNER</span>
            </a>
        </h2>
        </div>
    </div>
    </div>
    </div>
        </div>
    </div>
    </div>
        </div>
            </div>
        </div>
    </section>

    </body>

</html>